asn1crypto==0.24.0
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
click==6.7
cryptography==2.6.1
enum34==1.1.6
futures==3.1.1
google-api-python-client==1.7.8
google-assistant-grpc==0.2.1
google-assistant-sdk==0.5.1
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
googleapis-common-protos==1.5.10
grpcio==1.20.1
httplib2==0.12.3
idna==2.8
oauthlib==3.0.1
pafy==0.5.4
pathlib2==2.3.3
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
PyAudio==0.2.11
pycparser==2.19
pyOpenSSL==19.0.0
python-vlc==3.0.6109
requests==2.21.0
requests-oauthlib==1.2.0
rpi-ws281x==4.1.0
RPi.GPIO==0.6.5
rsa==4.0
scandir==1.10.0
six==1.12.0
smbus==1.1.post2
smbus2==0.2.3
sounddevice==0.3.13
spidev==3.4
sysv-ipc==1.0.0
tenacity==4.12.0
uritemplate==3.0.0
urllib3==1.24.3
youtube-dl==2019.5.20
